@font-face {
    font-family:sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}
.container{
    width:10%;
    margin: 0px;
    padding-right:0px;
    padding-left:0px;
    margin-right:0px;
    margin-left:0px;
}
.contenedor{
    position: relative;
    display: inline-block;
    top: -7px;
    left: -12px;
}
.texto-encima{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Regular.ttf);
    font-weight: 400;
    position: absolute;
    width: 367px;
    line-height: 1.6;
    height: 94px;
    left: 150px;
    top: 34px;
    font-size: 36px;
    color: #99F7E2;
}
.centrado{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Regular.ttf);
    font-weight: 400;
    position: absolute;
    width: 838px;
    line-height: 1.55;
    height: 224px;
    left: 151px;
    top: 344px;
    font-size: 62px;
    color: #99F7E2
}
.texto{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Regular.ttf);
    font-weight: 400;
    position: absolute;
    width: 783px;
    line-height: 2.1;
    height: 114px;
    left: -1px;
    top: 224px;
    font-size: 18px;
    color: white;
}
.puntitos{
    position: absolute;
    top: 92px;
    left: 1229px;
}
.raton{
    position: absolute;
    top: 570px;
    left: 550px;
}
.btn-primary{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    color: #fff;
    background-color: #00309A !important;
    border-color: #00309A !important;
    position: absolute;
    top: 101px;
    font-size: 2.3rem !important;
    left: 253px;
    width: 230px;
}
.contenedor2{
    position: relative;
    display: inline-block;
    top: -8px;
    left: 0px 
}
.gris{
    position: absolute;
    top: 143px;
    left: 735px;
}
.personas{
    position: absolute;
    top: 251px;
    left: 0px 
}
.texto-encima2{
    font-family: sf;
    src: url(fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 259px;
    font-size: 2.9rem;
    left: 831px;
    letter-spacing: -1px;
    width: 508px;
    color: #7452A3;
}
.centrado2{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 596px;
    left: 1062px;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 460px;
    color: black;
    line-height: 2;
}
.palabras{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 756px;
    left: 971px;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 280px;
    color: #99F7E2;
    line-height: 2;
    letter-spacing: -0.3px;
}
.contenedor3{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 9px;
    left: 0px;
}
.texto-encima3{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 108px;
    font-size: 46px;
    left: 348px;
    letter-spacing: -1px;
    width: 685px;
    color: #7452A3;
}
.whent{
    position: absolute;
    top: 199px;
    left: 121px;
}
.navbar-5{
    top: 422px;
    left: 606px;
    position: absolute;
}
.contenedor4{
    position: relative;
    display: inline-block;
    top: 9px;
    left: 0px;
}
.curry{
    width: 458px;
    height: 69px;
    left: 148px;
    top: 469px;
    position: absolute;
    font-size: 45px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    color: #99f7e2;

}
.leo{
    left: 832px;
    top: 262px;
    width: 458px;
    height: 36px;
    position: absolute;
    font-size: 23px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    color:#99F7E2;
}
.geo{
    left: 832px;
    top: 312px;
    width: 458px;
    height: 108px;
    position: absolute;
    font-size: 18px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    line-height: 2;
    color: white;

}
.fer{
    left: 832px;
    top: 464px;
    width: 458px;
    height: 36px;
    position: absolute;
    font-size: 23px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    color: #99F7E2; 
}
.lor{
    left: 832px;
    top: 514px;
    width: 458px;
    height: 108px;
    position: absolute;
    font-size: 18px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    line-height: 2;
    color: white;
}
.gin{
    left: 832px;
    top: 663px;
    width: 458px;
    height: 36px;
    position: absolute;
    font-size: 23px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700; 
    color: #99F7E2;
}
.ped{
    left: 832px;
    top: 715px;
    width: 458px;
    height: 108px;
    position: absolute;
    font-size: 18px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    line-height: 2;
    color: white;
}
.loria{
    left: 832px;
    top: 951px;
    width: 458px;
    height: 36px;
    position: absolute;
    font-size: 17.5px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
    color: #99F7E2;
}
.contenedor5{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 8px;
    left: 0px;
}
.geova{
    left: 490px;
    top: 195px;
    width: 458px;
    height: 36px;
    position: absolute;
    font-size: 44px;
    font-family: sf;
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-weight: 700;
}

.www{
    position: absolute;
    top: 278px;
    left: 246px;
}
.logo1{
    position: absolute;
    top: 563px;
    left: 977px;
}
.logo2{
    position: absolute;
    top: 563px;
    left: 300px;
}

.logo3{
    position: absolute;
    top: 563px;
    left: 526px;
}

.logo-3{
    position: absolute;
    top: 335px;
    left: 977px;
}

.logo4{
    position: absolute;
    top: 335px;
    left: 748px;
}
.logo-4{
    position: absolute;
    top: 563px;
    left: 748px;
}
.logo5{
    position: absolute;
    top: 335px;
    left: 533px;
}
.logo6{
    position: absolute;
    top: 335px;
    left: 299px;
}
.line{
    position: absolute;
    top: 521px;
    left: 256px;   
}
.line2{
    position: absolute;
    left: 499px;
    top: 288px;
}
.line3{
    position: absolute;
    left: 715px;
    top: 288px;
}
.line4{
    position: absolute;
    left: 930px;
    top: 288px;
}
.navbar-6{
    position: absolute;
    left: 69px;
    top: 0px;
}
.navbar-7{
    position: absolute;
    left: 1016px;
    top: 762px;
}
.contenedor6{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 437px;
    left: -1px;
}
.cr7{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 100px;
    font-size: 2.9rem;
    left: 373px;
    letter-spacing: -1px;
    width: 685px;
    color: #99F7E2;
}
.cr8{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 222px;
    left: 721px;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 737px;
    color: white;
    line-height: 2;
}
.btn-primary{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    color: #fff;
    background-color: #00309A !important;
    border-color: #00309A !important;
    position: absolute;
    top: 101px;
    font-size: 2.3rem !important;
    left: 253px;
    width: 230px;
}

.contenedor7{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-align: center;
    top: 437px;
    left: -1px;
}
.textfinal{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 48px;
    font-size: 36px;
    left: 151px;
    color: #99F7E2;
}
.texfinal2{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 201px;
    left: 128px;
    font-size: 11px;
    width: 352px;
    word-spacing: 14px;
    color: #ffffff;
}
.texfinal3{
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
    position: absolute;
    top: 82.5%;
    left: 1155px;
    transform: translate(-50%, -50%);
    font-size: 11px;
    width: 352px;
    word-spacing: 3px;
    color: #ffffff;
}